<div class="background">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column align-items-start content">
                    <p class="display-1 pt-8">Lo sentimos,</p>
                    <p class="lead mt-3">El DNI <span class="fw-bold text-secondary">{{ dni }}</span> 
                        no se encuentra registrado en el padrón electoral de la Lombardia (Milán).
                        Por favor consulte la página web de la 
                        <a class="alert-link text-danger" href="https://www.consultamiembrodemesa.eleccionesgenerales2021.pe/#/">
                            ONPE
                        </a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
