<nav class="navbar navbar-light sticky-top justify-content-start">
    <a class="navbar-brand p-0" href="/">
      <img src="/assets/img/icono-peru.jpg" width="40" height="40" alt="">
    </a>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="d-inline-flex">
            <input 
                class="form-control"
                type="text"
                id="dni"
                name="dni"
                placeholder="Ingrese su DNI"
                ngModel
                required
                minlength="8"
                maxlength="8"
                pattern="^[0-9]*$">
            <button 
                class="btn btn-primary"
                type="submit"
                [disabled]="!f.valid">Consultar</button>
        </div>
    </form>
</nav>
