<div class="container-fluid container-fluid--{{colour}}">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-3 col-lg-3 col-xl-2 d-flex align-items-center">
            <div class="welcome-container">
                <p class="fs-5 lead">Hola {{shortName | titlecase}},</p>
                <p class="mb-0">Hagamos más segura la votación, para esto te guiaremos con los planos del local de votación.
                    <br>Tu mesa de votación se encuentra en la:</p>
            </div>
        </div>
        <div class="col-12 col-md-5 col-lg-4 col-xl-3">
            <div class="info-container info-container--{{colour}}">
                <p class="info-title lead">Sala {{ colour }}</p>
                <p class="text-body text-center mb-0">Nº de Mesa de Sufragio:</p>
                <p class="text-body text-center mb-2 fw-bold">{{ element.mesa }}</p>
                <p class="text-body text-center mb-0">Apellidos:</p>
                <p class="text-body text-center mb-2">
                    <span class="me-2">{{ element.apellidoPaterno }}</span>
                    <span>{{ element.apellidoMaterno }}</span>
                </p>
                <p class="text-body text-center mb-0">Nombres:</p>
                <p class="text-body text-center mb-2">{{ element.nombres }}</p>
                <p class="text-body text-center mb-0">DNI:</p>
                <p class="text-body text-center mb-0">{{ dni }}</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="mapa-central">
    <div class="row justify-content-md-center">
        <div class="col-12">
            <p class="text-title">Plano del local de votación</p>
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xl-4">
            <img
                src="/assets/img/mapa-{{colour}}.webp"
                alt="mapa-central"
                class="central-map img-fluid"
                loading="lazy"
            >
        </div>
        <div class="col-12 col-md-3 col-lg-3 col-xl-2 d-flex align-items-center">
            <p class="text-description">El Mediolanum Forum di Assago, se conecta con la línea verde de la metropolitana
                M2: Assago - Milanofiori Forum. Por favor sigue la indicación de la flecha {{colour}}</p>
        </div>
    </div>
</div>
<div class="container-fluid background-gray" id="mapa-sala">
    <div class="row justify-content-md-center">
        <div class="col-12">
            <p class="text-title">Croquis: Sala {{ colour }}</p>
        </div>
        <div class="col-12 col-md-3 col-lg-3 col-xl-2 d-flex align-items-start">
            <p class="text-description text-description--croquis">Para votar más rápido, el croquis te ayudará a ubicar facilmente tu mesa.
                Luego de efectuado el voto por favor dirígete hacia la salida.</p>
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xl-4">
            <img
                src="/assets/img/areas/croquis-{{colour}}-{{element.mesa}}.jpg"
                alt="mapa"
                class="intern-map intern-map--{{colour}} img-fluid"
                loading="lazy"
            >
        </div>
    </div>
</div>
<div class="sticky-bar">
    <a class="sticky-bar__label" href="#mapa-central">Local votación</a>
    <a class="sticky-bar__label" href="#mapa-sala">Sala {{colour}}</a>
</div>
