<div class="container">
    <div class="row">
        <div class="col-12 mt-4">
            <p><span class="fs-5">Hola {{element.nombres}},</span><br/>
            Tu número de mesa es: <span class="fw-bold">{{element.mesa}}</span><br/>
            Por favor dirígete en la siguiente dirección:</p>
            <div class="d-flex flex-column">
                <img src="/assets/img/general-map.JPG" alt="mapa-central" class="img-responsive mb-4">
                <img src="/assets/img/blue.jpg" alt="mapa" class="img-responsive">
            </div>
        </div>
    </div>
</div>
