.welcome-container {
     margin-bottom: 30px;
}

.info-container {
    border: 4px solid black;
    border-radius: 50px;
    padding: 20px; 
    width: 250px;
    height: auto;
    margin: 0 auto;
}

.info-container--verde {
    border-color: #198754;
    color: #198754;
}

.info-container--roja {
    border-color: red;
    color: red;
}

.info-container--azul {
    border-color: #0d6efd;
    color: #0d6efd;
}

.info-container--amarilla {
    border-color: #ffc107;
    color: #ff8c19;
}

.info-container--gris {
    border-color: #6c757d;
    color: #6c757d;
}

.text-title {
    text-align: center;
    margin: 35px 0 10px 0;
}

.map-container {
    color: black;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
}

.map-container--verde {
    border-color: #198754;
    color: #198754;
}

.map-container--roja {
    border-color: red;
    color: red;
}

.map-container--azul {
    border-color: #0d6efd;
    color: #0d6efd;
}

.map-container--amarilla {
    border-color: #ffc107;
    color: #ff8c19;
}

.map-container--gris {
    border-color: #6c757d;
    color: #6c757d;
}

@media (min-width: 992px) {
    .central-map {
        max-width: 800px;
        margin: 0 auto;
    }

    .intern-map {
        max-width: 900px;
        margin: 0 auto;
    }

    .welcome-container {
        margin-bottom: 40px;
    }
 }